@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: darken(white, 10%);
$animation-duration: 0.3s;
$apparition-delay: 0.075s;
$gradient: linear-gradient(172deg,$colour-secondary 0%, $colour-primary 100%);
$loader-duration: 3s;
$loader-point-duration: 1.2s;
$loader-point-delay: $loader-point-duration/3;

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $colour-background;
}

.loader {
    height: 100vh;
    width: 100%;
    background-color: white;
    animation: loader 3s ease-in-out 1s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    &__text {
        font-family: 'Shrikhand', cursive;
        font-size: 10vw;
        text-align: center;
        background: $gradient;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media all and (min-width: 992px) {
            font-size: 5vw;
        }
    }
    &__ellipsis {
        width: 100%;
        display: flex;
        justify-content: center;
            &__point {
            width: 7vw;
            height: 7vw;
            background: $gradient;
            border-radius: 50%;
            margin: 10% 5%;
            animation: point $loader-point-duration ease-in-out backwards infinite alternate;
            @media all and (min-width: 992px) {
                width: 3vw;
                height: 3vw;
                margin: 10% 2%;
            }
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: $loader-point-delay * $i;
                }
            }
        }
    }
}

@keyframes point {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
